<h2>Ticket Einstellungen</h2>

<!-- Ticketname -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Ticketname*</p>
  </div>
  <div nz-col nzSpan="18">
    <input
      nz-input
      placeholder="Ticketname"
      [(ngModel)]="issue.issueDetail.name"
    />
  </div>
</div>

<!-- Description -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Beschreiburg</p>
  </div>
  <div nz-col nzSpan="18">
    <textarea nz-input [(ngModel)]="issue.issueDetail.description"></textarea>
  </div>
</div>

<!-- Priority -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Prorität*</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-slider
      [nzMin]="1"
      [nzMax]="10"
      [(ngModel)]="issue.issueDetail.priority"
    ></nz-slider>
  </div>
</div>

<!-- State -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Status*</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-select [(ngModel)]="issue.state" [nzDisabled]="stateActive">
      <nz-option *ngFor="let option of listOfStates" [nzValue]="option" [nzLabel]="option.name">{{option.name}}</nz-option>
    </nz-select>
  </div>
</div>

<!-- Typ -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Typ*</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-select ngModel="bug" (ngModelChange)="changeTyp()" [(ngModel)]="issue.issueDetail.type">
      <nz-option nzValue="bug" nzLabel="Fehler"></nz-option>
      <nz-option nzValue="feature" nzLabel="Feature"></nz-option>
    </nz-select>
  </div>
</div>

<!-- StartDate -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Startdatum</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-date-picker [(ngModel)]="issue.issueDetail.startDate"></nz-date-picker>
  </div>
</div>

<!-- Deadline -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Deadline</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-date-picker [(ngModel)]="issue.issueDetail.endDate"></nz-date-picker>
  </div>
</div>

<!-- Visibility Status  -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Visibility Status*</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-select ngModel="extern" [(ngModel)]="visibleInput">
      <nz-option nzValue="extern" nzLabel="Extern"></nz-option>
      <nz-option nzValue="intern" nzLabel="Intern"></nz-option>
    </nz-select>
  </div>
</div>

<!-- Member -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Mitarbeiterübersicht</p>
  </div>
  <div nz-col nzSpan="18">
    <nz-table #basicTable [nzData]="listOfAssignedUsers">
      <thead>
        <tr>
          <th>Mitarbeiter</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.firstname + " " + data.lastname }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Predecessor -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Vorgänger</p>
  </div>
  <div nz-col nzSpan="18">
    <button nz-button (click)="addPredecessorRow()" nzType="primary">
      Vorgänger hinzufügen
    </button>
    <br /><br />
    <nz-table #editRowTablePredecessor nzBordered [nzData]="listOfPredecessors">
      <thead>
        <tr>
          <th>Vorgänger</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of editRowTablePredecessor.data"
          class="editable-row"
        >
          <td>
            <div
              class="editable-cell"
              [hidden]="predecessorEditId === data.id"
              (click)="startPredecessorEdit(data.id)"
            >
              {{ data.name }}
            </div>
            <input
              placeholder="try to type \`b\`"
              nz-input
              [(ngModel)]="inputValue"
            />

            <input
              [hidden]="predecessorEditId !== data.id"
              type="text"
              nz-input
              [(ngModel)]="data.name"
              (blur)="stopPredecessorEdit()"
              [nzAutocomplete]="auto"
              (ngModelChange)="onChangeValue($event)"
            />
            <nz-autocomplete
              [nzDataSource]="filteredOptions"
              #auto
            ></nz-autocomplete>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Document -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6">
    <p>Relevante Dokumente</p>
  </div>
  <div nz-col nzSpan="18">
    <button nz-button (click)="addDocumentRow()" nzType="primary">
      Dokument hinzufügen
    </button>
    <br /><br />
    <nz-table #editRowTableDocument nzBordered [nzData]="listOfDocuments">
      <thead>
        <tr>
          <th>Relevante Dokumente</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of editRowTableDocument.data" class="editable-row">
          <td>
            <div
              class="editable-cell"
              [hidden]="documentEditId === data.id"
              (click)="startDocumentEdit(data.id)"
            >
              {{ data.name }}
            </div>
            <input
              [hidden]="documentEditId !== data.id"
              type="text"
              nz-input
              [(ngModel)]="data.name"
              (blur)="stopDocumentEdit()"
            />
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<!-- Visibility Status  -->
<div nz-row class="issue_row">
  <div nz-col nzSpan="6"></div>
  <div nz-col nzSpan="18">
    <button
      nz-button
      nzType="primary"
      class="issue_save"
      (click)="submitForm()"
    >
      Speichern
    </button>
  </div>
</div>
