<div class="wrapper">
  <div class="blue-box">
    <div class="login-form-margin-h">
      <h1>Goose</h1>
    </div>
    <div class="login-form-margin-h">
      <h3>Melde dich im Ticketsystem an</h3>
    </div>
    <form
      nz-form
      [formGroup]="loginForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <div *ngIf="visible" class="errormessage">
        <div class="innererror">
          Benutzername oder Passwort ist nicht korrekt.
        </div> 
        <button class="closebutton"nz-button nzType="default" (click)="hideError()"> <i nz-icon nzType="close" nzTheme="outline"></i></button>       
      </div>
      <div class="login-form-margin">
        <nz-form-item>
          <nz-form-control nzErrorTip="Bitte Benutzername eingeben!">
            <nz-input-group nzPrefixIcon="user">
              <input
                type="text"
                nz-input
                formControlName="username"
                placeholder="Benutzername"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="login-form-margin">
        <nz-form-item>
          <nz-form-control nzErrorTip="Bitte Passwort eingeben!">
            <nz-input-group nzPrefixIcon="lock">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Passwort"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="login-form-margin-b">
        <button nz-button class="login-form-button" [nzType]="'primary'">
          Login
        </button>
      </div>
    </form>
    <br />
    <button
      nz-button
      class="login-form-button"
      [routerLink]="['/register']"
      [nzType]="'primary'"
    >
      Registrieren
    </button>
  </div>
</div>
