.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}
nz-form-control{
    margin-bottom: 10px;
}
.blue-box{
    padding: 25px;
    width: 400px;
    background-color:#001529;
}
.login-form {
    max-width: 350px;
}
.login-form-margin-h{
    margin-bottom: 20px; 
}

.login-form-button {
    width: 100%;
    height: 60px;
}
.errormessage{
    background-color: lightpink;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin-bottom: 20px; 
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 20px;   
}
.innererror{
    text-align: center;
    color: black;
    padding-bottom: 10px;
    
}
.closebutton{
    float:right;   
    padding-bottom: 10px;
}
h3{
    color:white;
    //text-align:center;
}
h1{
    color:white;
    text-align:center;
}