<div class="wrapper">
  <header class="header">
    <b>Projekte</b>
    <button
      nz-button
      nzType="primary"
      [routerLink]="['edit']"
      *ngIf="isCompanyAccount()"
    >
      Neues Projekt
    </button>
  </header>
  <nz-table #basicTable [nzData]="listOfDashboardContent">
    <thead>
      <tr>
        <th nzColumnKey="projectName" [nzSortFn]="sortColumnProject">
          Projekte
        </th>
        <th nzColumnKey="customer" [nzSortFn]="sortColumnCustomer">Kunde</th>
        <th>Anzahl Tickets</th>
        <th>Anzahl offene Tickets</th>
        <th *ngIf="displayQA()">Quickactions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of basicTable.data">
        <td (click)="routeToIssueDashboard(project.id)">
          <u>{{ project.name }}</u>
        </td>
        <td>
          {{ project.customer?.firstname }} {{ project.customer?.lastname }}
        </td>
        <td>{{ project.issues }}</td>
        <td>{{ project.issuesOpen }}</td>
        <td *ngIf="displayQA()">
          <button
            class="QAWrapper"
            nz-button
            nzType="primary"
            [nzSize]="QAButtonSize"
            [routerLink]="[project.id + '/edit']"
            *ngIf="project.hasWritePermission"
          >
            <i nz-icon nzType="setting"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
