<div class="goose-wrapper">
  <div *ngIf="loading">
    <nz-spin nzSimple></nz-spin>
  </div>
  <div *ngIf="!loading">
    <div nz-row [nzGutter]="32">
      <div nz-col nzFlex="4">
        <h2 nz-typography>{{ issue.issueDetail.name }}</h2>
        <p nz-typography>{{ issue.issueDetail.description }}</p>
        <p nz-typography>
          Status: {{ issue.stateId }}<br />
          Autor: {{ issue.authorId }}<br />
          Typ: {{ issue.issueDetail.type }}
        </p>
      </div>
      <div nz-col nzFlex="1">
        <button nz-button nzType="primary" [nzBlock]="true">
          <i nz-icon nzType="edit" nzTheme="outline"></i> Bearbeiten
        </button>
      </div>
    </div>
    <div nz-row [nzGutter]="32">
      <ul nz-menu nzMode="inline" nz-col nzFlex="1">
        <ul>
          <ul>
            <li nz-menu-item nzSelected (click)="changedSelectedMenu(0)">
              Kommunikation
            </li>
            <li nz-menu-item (click)="changedSelectedMenu(1)">Zeiten</li>
            <li nz-menu-item (click)="changedSelectedMenu(2)">Zugewiesen</li>
            <li nz-menu-item (click)="changedSelectedMenu(3)">
              Zusammenfassung
            </li>
          </ul>
          <li nz-menu-group nzTitle="Untertickets">
            <ul>
              <li nz-menu-item *ngFor="let currentIssue of issueSuccessors">
                <a [routerLink]="['/issue/' + currentIssue.id]">{{
                  currentIssue.name
                }}</a>
              </li>
            </ul>
          </li>
          <li nz-menu-group nzTitle="Vorgänger">
            <ul>
              <li nz-menu-item *ngFor="let currentIssue of issueSredecessors">
                <a [routerLink]="['/issue/' + currentIssue.id]">{{
                  currentIssue.name
                }}</a>
              </li>
            </ul>
          </li>
        </ul>
      </ul>
      <div nz-col nzFlex="5" [ngSwitch]="currenActivComponent">
        <div *ngSwitchCase="0">Kommunikation</div>
        <div *ngSwitchCase="1">Zeiten</div>
        <div *ngSwitchCase="2">Zugewiesen</div>
        <div *ngSwitchCase="3">Zusammenfassung</div>
      </div>
    </div>
  </div>
</div>
