<h2>Zusammenfassung</h2>
<h3>Requirements</h3>
<ul nz-list [nzDataSource]="listOfRequirements" nzBordered nzSize="large">
  <li nz-list-item *ngFor="let item of listOfRequirements" nzNoFlex>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <button
          nz-button
          nzType="text"
          [disabled]="
            summaryCreated ||
            currentIssue?.issueDetail.requirementsSummaryCreated
          "
          (click)="removeRequirement(item)"
        >
          <i nz-icon [nzType]="'close'"></i>
        </button>
      </nz-list-item-action>
    </ul>
    {{ item.requirement }}
  </li>
</ul>

<br />
<br />

<div class="lower">
  <div>
    <h3>Zeitschätzung</h3>
    <nz-input-number
      [nzMin]="0"
      [nzStep]="1"
      [(ngModel)]="expectedTime"
    ></nz-input-number>
  </div>
  <button
    nz-button
    nzType="primary"
    (click)="sendSummary()"
    [disabled]="
      summaryCreated ||
      currentIssue?.issueDetail.requirementsSummaryCreated ||
      listOfRequirements.length <= 0 ||
      expectedTime <= 0
    "
  >
    Abschicken
  </button>
</div>
