<nz-badge [nzCount]="messageCount" [nzOverflowCount]="10">
  <app-avatar [id]="userId" (click)="openDrawer()"></app-avatar>
</nz-badge>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzWidth]="400"
  nzPlacement="right"
  nzTitle="Benachrichtigungen"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <nz-space [nzSplit]="spaceSplit">
      <ng-template #spaceSplit>
        <nz-divider nzType="horizontal"></nz-divider>
      </ng-template>
      <app-message-item
        *ngFor="let message of listOfMessages"
        [message]="message"
      ></app-message-item>
      <button>Mehr anzeigen</button>
    </nz-space>
  </ng-container>
</nz-drawer>
