<nz-badge [nzCount]="messageCount" [nzOverflowCount]="10">
  <app-avatar [id]="userId" (click)="openDrawer()"></app-avatar>
</nz-badge>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="drawerVisible"
  [nzWidth]="400"
  nzPlacement="right"
  nzTitle="Benachrichtigungen"
  (nzOnClose)="closeDrawer()"
>
  <ng-container *nzDrawerContent>
    <app-message-item
      *ngFor="let message of listOfMessages"
      [message]="message"
      [handleMessageClick]="handleMessageClick.bind(this)"
    ></app-message-item>
    <button>Mehr anzeigen</button>
  </ng-container>
</nz-drawer>
