<div *ngIf="authService.currentUserValue; else elseBlock">
  <nz-layout>
    <nz-sider
      style="min-height: 100vh"
      nzCollapsible
      (nzCollapsedChange)="saveCollapse($event)"
      [nzCollapsed]="collapsed"
      nzWidth="200px"
    >
      <h3 class="title">Goose</h3>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item [routerLink]="[this.companyId, 'projects']">
          <i nz-icon nzType="container"></i>
          <span>Projekte</span>
        </li>
        <li nz-submenu nzTitle="Tickets" nzIcon="file">
          <ul>
            <li
              nz-menu-item
              *ngFor="let project of projects"
              [routerLink]="[this.companyId, 'projects', project.id, 'issues']"
            >
              {{ project.name }}
            </li>
          </ul>
        </li>
        <li nz-menu-item [routerLink]="[this.companyId, 'employees']">
          <i nz-icon nzType="user"></i>
          <span>Mitarbeiter</span>
        </li>
        <li
          nz-menu-item
          nzTitle="Kunden"
          [routerLink]="[this.companyId, 'customers']"
        >
          <i nz-icon nzType="dollar"></i>
          <span>Kunden</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <app-user-info></app-user-info>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>

<ng-template #elseBlock>
  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>
</ng-template>
