<div *ngIf="authService.currentUserValue; else elseBlock">
  <nz-layout>
    <nz-sider nzCollapsible (nzCollapsedChange)="saveCollapse($event)" [nzCollapsed]="collapsed" nzWidth="200px">
      <h3 class="title">Goose</h3>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item [routerLink]="['/projects']">
          <i nz-icon nzType="container"></i>
          <span>Projekte</span>
        </li>
        <li nz-menu-item [routerLink]="['/issues']">
          <i nz-icon nzType="file"></i>
          <span>Tickets</span>
        </li>
        <li nz-menu-item [routerLink]="['/employees']">
          <i nz-icon nzType="user"></i>
          <span>Mitarbeiter</span>
        </li>
        <li nz-menu-item [routerLink]="['/customers']">
          <i nz-icon nzType="dollar"></i>
          <span>Kunden</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <app-user-info></app-user-info>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>

<ng-template #elseBlock>
  <div class="inner-content">
    <router-outlet></router-outlet>
  </div>
</ng-template>
