/* Base-Layout */
.ant-layout.ant-layout-has-sider {
  min-height: 100%;
}

.ant-layout .ant-layout-header {
  background-color: #ffffff;
}

.ant-layout .inner-content {
  padding: 25px;
}

.goose-wrapper {
  width: 100%;
  float: right;
  background-color: #ffffff;
  padding: 10px;
}

nz-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

nz-header h3 {
  margin: 0;
}

nz-header button {

}
