<div class="wrapper">
  <header>
    <h1>Projekteinstellungen</h1>
  </header>

  <div class="content_wrapper">
    <!--  Project name  -->
    <div nz-row class="row">
      <div nz-col nzSpan="6">
        <p>Projektname</p>
      </div>
      <div nz-col nzSpan="18">
        <input nz-input placeholder="Projekt Name" [(ngModel)]="project.name" required/>
      </div>
    </div>

    <!--  Customer selection  -->
    <div nz-row class="row">
      <div nz-col nzSpan="6">
        <p>Kunden auswählen</p>
      </div>
      <div nz-col nzSpan="18">
        <input nz-input placeholder="Kunden auswählen" [(ngModel)]="selectedCustomer" [nzAutocomplete]="auto" required/>
        <nz-autocomplete #auto [compareWith]="compareCustomerInput">
          <nz-auto-option *ngFor="let customer of filteredCustomerSelectionList"
                          [nzValue]="customer"
                          [nzLabel]="customer.firstname + ' ' + customer.lastname">
            {{ customer.firstname }} {{ customer.lastname }}
          </nz-auto-option>
        </nz-autocomplete>
      </div>
    </div>

    <!--  Employees  -->
    <div nz-row class="row" [hidden]="this.projectId === null">
      <div nz-col nzSpan="6">
        <p>Mitarbeiterübersicht</p>
      </div>
<!--      <button class="bt-right" nz-button nzType="primary" (click)="sendForm()">Mitarbeiter hinzufügen</button>-->
      <div nz-col nzSpan="18">
        <nz-table #basicTable [nzData]="employeeList">
          <thead>
          <tr>
            <th nzColumnKey="projectName" [nzSortFn]="sortColumnName">Vor- und Nachname</th>
            <th>Zugriffsrechte</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let employee of basicTable.data">
            <td>{{ employee.user.firstname }} {{ employee.user.lastname }}</td>
            <td class="li-content-flex">
              <div>
                <nz-radio-group [(ngModel)]="employee.roles[0].id" (ngModelChange)="employeeRightsChanged(employee)">
                  <label nz-radio [nzValue]="listOfEmployeeRadioValues[0].id">L</label>
                  <label nz-radio [nzValue]="listOfEmployeeRadioValues[1].id">S</label>
                  <label nz-radio [nzValue]="listOfEmployeeRadioValues[2].id" [nzDisabled]="checkForProjectManager(employee.user.id)">P</label>
                </nz-radio-group>
              </div>
              <div>
                <i nz-icon nzType="close" nzTheme="outline" class="li-close" (click)="removeEmployee(employee.user.id)"></i>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <input nz-input placeholder="Neuen Mitarbeiter auswählen" [(ngModel)]="newEmployee" [nzAutocomplete]="auto2"/>
          <nz-autocomplete #auto2 [compareWith]="compareCustomerInput">
            <nz-auto-option *ngFor="let employee of filteredEmployeeSelectionList"
                            [nzValue]="employee"
                            [nzLabel]="employee.firstname + ' ' + employee.lastname">
              {{ employee.firstname }} {{ employee.lastname }}
            </nz-auto-option>
          </nz-autocomplete>
          <nz-radio-group [(ngModel)]="newEmployeeRole">
            <label nz-radio [nzValue]="listOfEmployeeRadioValues[0]">L</label>
            <label nz-radio [nzValue]="listOfEmployeeRadioValues[1]">S</label>
            <label nz-radio [nzValue]="listOfEmployeeRadioValues[2]" [nzDisabled]="checkForProjectManager(newEmployee?.id)">P</label>
          </nz-radio-group>
          <button class="bt-right" nz-button nzType="primary" (click)="addEmployee(this.newEmployee, this.newEmployeeRole)" [disabled]="this.projectId === null">Mitarbeiter Hinzufügen</button>
          </tfoot>
        </nz-table>
      </div>
    </div>

    <!--  Custom States  -->
    <div nz-row class="row" [hidden]="this.projectId === null">
      <div nz-col nzSpan="6">
        <p>Ticketstatus</p>
      </div>
      <div nz-col nzSpan="12">
        <ul nz-list [nzDataSource]="customStates" nzBordered nzSize="large">
          <li nz-list-item *ngFor="let state of customStates" nzNoFlex class="li-flex">
            <div>
              {{ state.name }}
            </div>
            <div>
              {{ state.phase }}
            </div>
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <i nz-icon nzType="close" nzTheme="outline" class="li-close" (click)="deleteCustomState(state.id)"></i>
              </nz-list-item-action>
            </ul>
          </li>
          <nz-list-footer>
            <input type="text" nz-input [(ngModel)]="customStateIn" placeholder="Name des neuen Status"/>
            <nz-select [(ngModel)]="selectedPhase" nzPlaceHolder="Phase auswählen" nzBorderless>
              <nz-option nzLabel="Phase auswählen" nzValue="Default" nzHide></nz-option>
              <nz-option *ngFor="let p of phaseList" [nzValue]="p" [nzLabel]="p"></nz-option>
            </nz-select>
            <button class="bt-right" nz-button nzType="primary" (click)="addCustomState()">Status Hinzufügen</button>
          </nz-list-footer>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <button class="bt-right" nz-button nzType="primary" (click)="sendForm()">Speichern</button>
  </footer>
</div>
