<div class="wrapper">
  <header>
    <h1>Projekteinstellungen</h1>
  </header>

  <div class="content_wrapper">
    <!--  Project name  -->
    <div nz-row class="row">
      <div nz-col nzSpan="6">
        <p>Projektname</p>
      </div>
      <div nz-col nzSpan="18">
        <input
          nz-input
          placeholder="Projekt Name"
          [(ngModel)]="project.name"
          required
        />
      </div>
    </div>

    <!--  Customer selection  -->
    <div nz-row class="row">
      <div nz-col nzSpan="6">
        <p>Kunden auswählen</p>
      </div>
      <div nz-col nzSpan="18">
        <input
          nz-input
          placeholder="Kunden auswählen"
          [(ngModel)]="selectedCustomer"
          [nzAutocomplete]="autoCustomer"
          required
        />
        <nz-autocomplete #autoCustomer [compareWith]="compareCustomerInput">
          <nz-auto-option
            *ngFor="let customer of filteredCustomerSelectionList"
            [nzValue]="customer"
            [nzLabel]="customer.firstname + ' ' + customer.lastname"
          >
            {{ customer.firstname }} {{ customer.lastname }}
          </nz-auto-option>
        </nz-autocomplete>
      </div>
    </div>

    <!--  Employees  -->
    <div nz-row class="row" [hidden]="this.projectId === null">
      <!--      || this.loggedInUserRole?.name !== 'Projektleiter'-->
      <div nz-col nzSpan="6">
        <p>Mitarbeiterübersicht</p>
      </div>
      <div nz-col nzSpan="18">
        <nz-table #basicTable [nzData]="employeeList">
          <thead>
            <tr>
              <th nzColumnKey="projectName" [nzSortFn]="sortColumnName">
                Vor- und Nachname
              </th>
              <th>Zugriffsrechte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let employee of basicTable.data">
              <td>
                {{ employee.user.firstname }} {{ employee.user.lastname }}
              </td>
              <td class="li-content-flex">
                <div>
                  <nz-radio-group
                    [(ngModel)]="employee.roles[0].id"
                    (ngModelChange)="employeeRightsChanged(employee)"
                  >
                    <label
                      nz-radio
                      [nzValue]="listOfEmployeeRadioValues[0].id"
                      [nzDisabled]="!this.checkUserRole('Firma')"
                      >L</label
                    >
                    <label
                      nz-radio
                      [nzValue]="listOfEmployeeRadioValues[1].id"
                      [nzDisabled]="!this.checkUserRole('Firma')"
                      >S</label
                    >
                    <label
                      nz-radio
                      [nzValue]="listOfEmployeeRadioValues[2].id"
                      [nzDisabled]="
                        checkForProjectManager(employee.user.id) ||
                        !this.checkUserRole('Firma')
                      "
                      >P</label
                    >
                  </nz-radio-group>
                </div>
                <div>
                  <i
                    nz-icon
                    nzType="close"
                    nzTheme="outline"
                    class="li-close gray"
                    (click)="removeEmployee(employee.user.id)"
                  ></i>
                </div>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf="this.checkUserRole('Firma')">
            <div>
              <input
                nz-input
                placeholder="Neuen Mitarbeiter auswählen"
                [(ngModel)]="newEmployee"
                [nzAutocomplete]="autoEmployee"
              />
              <nz-autocomplete
                #autoEmployee
                [compareWith]="compareCustomerInput"
              >
                <nz-auto-option
                  *ngFor="let employee of filteredEmployeeSelectionList"
                  [nzValue]="employee"
                  [nzLabel]="employee.firstname + ' ' + employee.lastname"
                >
                  {{ employee.firstname }} {{ employee.lastname }}
                </nz-auto-option>
              </nz-autocomplete>
              <nz-radio-group [(ngModel)]="newEmployeeRole">
                <label nz-radio [nzValue]="listOfEmployeeRadioValues[0]"
                  >L</label
                >
                <label nz-radio [nzValue]="listOfEmployeeRadioValues[1]"
                  >S</label
                >
                <label
                  nz-radio
                  [nzValue]="listOfEmployeeRadioValues[2]"
                  [nzDisabled]="checkForProjectManager(newEmployee?.id)"
                  >P</label
                >
              </nz-radio-group>
              <button
                class="bt-right"
                nz-button
                nzType="primary"
                (click)="addEmployee()"
                [disabled]="this.projectId === null"
              >
                Mitarbeiter Hinzufügen
              </button>
            </div>
          </tfoot>
        </nz-table>
      </div>
    </div>

    <!--  Custom States  -->
    <div nz-row class="row" [hidden]="this.projectId === null">
      <div nz-col nzSpan="6">
        <p>Ticketstatus</p>
      </div>
      <div nz-col nzSpan="12">
        <ul nz-list [nzDataSource]="customStates" nzBordered nzSize="large">
          <li
            nz-list-item
            *ngFor="let state of customStates"
            nzNoFlex
            class="li-flex"
          >
            <ng-container *ngIf="!state['edit']; else editStateTemplate">
              <div class="width_40">
                {{ state.name }}
              </div>
              <div class="width_40">
                {{ state.phase }}
              </div>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <div
                    *ngIf="
                      !(
                        this.checkUserRole('Mitarbeiter (Lesend)') ||
                        this.checkUserRole('Kunde')
                      )
                    "
                  >
                    <i
                      nz-icon
                      nzType="edit"
                      nzTheme="outline"
                      class="li-close gray"
                      (click)="startEditCustomState(state)"
                    ></i>
                    <i
                      nz-icon
                      nzType="close"
                      nzTheme="outline"
                      class="li-close gray"
                      (click)="deleteCustomState(state.id)"
                    ></i>
                  </div>
                </nz-list-item-action>
              </ul>
            </ng-container>
            <ng-template #editStateTemplate>
              <div class="width_40">
                <input type="text" nz-input [(ngModel)]="state['tempName']" />
              </div>
              <div class="width_40">
                {{ state.phase }}
              </div>
              <ul>
                <i
                  nz-icon
                  nzType="edit"
                  nzTheme="outline"
                  class="li-close gray"
                  (click)="state['edit'] = false"
                ></i>
                <i
                  nz-icon
                  nzType="check"
                  nzTheme="outline"
                  class="li-close gray"
                  (click)="editCustomState(state)"
                ></i>
              </ul>
            </ng-template>
          </li>
          <nz-list-footer
            *ngIf="
              !(
                this.checkUserRole('Mitarbeiter (Lesend)') ||
                this.checkUserRole('Kunde')
              )
            "
          >
            <input
              type="text"
              nz-input
              [(ngModel)]="customStateIn"
              placeholder="Name des neuen Status"
            />
            <nz-select
              [(ngModel)]="selectedPhase"
              nzPlaceHolder="Phase auswählen"
              nzBorderless
            >
              <nz-option
                nzLabel="Phase auswählen"
                nzValue="Default"
                nzHide
              ></nz-option>
              <nz-option
                *ngFor="let p of phaseList"
                [nzValue]="p"
                [nzLabel]="p"
              ></nz-option>
            </nz-select>
            <button
              class="bt-right"
              nz-button
              nzType="primary"
              (click)="addCustomState()"
            >
              Status Hinzufügen
            </button>
          </nz-list-footer>
        </ul>
      </div>
    </div>
  </div>

  <footer>
    <button class="bt-right" nz-button nzType="primary" (click)="sendForm()">
      Speichern
    </button>
  </footer>
</div>
