.wrapper {
  margin: 2%;
  padding: 1%;

  border: solid 1px #707070;
  background-color: #f9fafb;
}

.flex {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

.innerFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 2%;

  input,
  nz-select,
  nz-table,
  ul {
    width: 70%;
  }
}

.bt-right {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.li-add:hover,
.li-close:hover {
  color: black;
}

.li-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nz-list-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
}

nz-autocomplete {
  margin-left: -21%;
}

nz-radio-group {
  margin-top: 5%;
}
